@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; font-family: sans-serif;}

/*INDEX*/
/*HEADER Y MENU*/

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color:hsl(0, 0%, 91%);
  
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family:'Poppins', sans-serif;
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}

.img-logo {
    height: 100px;
    width: 200px;
}

.menu nav {
    height: 100%;
   
}

.menu nav ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    
}

.menu a {
    text-decoration: none;
    background-color: #000;
    padding: 8px;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px; 
}

.menu a:hover {
    background-color: rgb(151, 121, 248);
    color: #000;
    transition: all 0.2s ease-out;
}

/*SUBMENU*/
.submenu {
    
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.submenu a {
    text-decoration: none;
    background-color: rgb(82, 82, 82);
    padding: 8px;
    color: aliceblue;
    border-radius: 10px;
    margin: 15px; 
}

.submenu a:hover {
    background-color: rgb(151, 121, 248);
    color: #000;
    transition: all 0.2s ease-out;
}

/*PORTADA Y BIENVENIDA*/

.container-cover {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;
    background-image: url(fotos/gradiente.jpg);
    background-position: center;
    background-size: cover;

}

.container-info-cover {
    max-width: 800px;
    margin: auto;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.container-info-cover h1 {
    color: white;
    font-size: 80px;
    font-family:'Euphoria Script', cursive;
    bottom: 50px;
}

.container-info-cover p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/*CONTENIDO DEL BLOG*/

body {
    background-color:hsl(0, 0%, 91%);
}

.container-content {
    max-width: 1200px;
    margin-top: 50px;

}

/*ARTICULO 1*/

.article-1 {
    text-decoration:none;
    list-style: none;
    text-align: center;
    background-color: black;
    padding: 20px;
    color: aliceblue;
    border-radius: 10px;
    margin: 100px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.article-1 h2 {
    font-family:'Poppins', sans-serif; 
    margin-bottom: 20px;
}

.article-1 ul li {
    list-style: none;
    font-family:'Poppins', sans-serif; 
    font-size: 18px;
}

/*ARTICULO 2*/

.article-2 {
    text-decoration:none;
    list-style: none;
    text-align: center;
    background-color: black;
    padding: 20px;
    color: aliceblue;
    border-radius: 10px;
    margin: 100px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.article-2 h2 {
    font-family:'Poppins', sans-serif; 
    margin-bottom: 20px;
}

.article-2 ol li {
    list-style: none;
    font-family:'Poppins', sans-serif; 
    font-size: 18px;
}

/*ARTICULO 3*/

.article-3 {
    text-align: center;
    background-color: black;
    padding: 20px;
    color: aliceblue;
    border-radius: 10px;
    margin: 100px;
    margin-top: 5px;
}

.article-3 h2 {
    font-family:'Poppins', sans-serif; 
    margin-bottom: 20px;
}

.article-3 p {
    list-style: none;
    font-family:'Poppins', sans-serif; 
    font-size: 18px;
}

/*FOOTER*/

footer {
   width: 100%;
   padding: 20px;
   background-color:hsl(0, 0%, 79%);
   text-align: center;
}

/*SERIES.HTML*/

.container-cover-series {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;
    background-image: url(fotos/gradiente.jpg);
    background-position: center;
    background-size: cover;
}

.container-info-cover-series {
    max-width: 800px;
    margin: auto;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.container-info-cover-series h1 {
    color: white;
    font-size: 60px;
    font-family:'Euphoria Script', cursive;
    bottom: 50px;
}

.container-info-cover-series p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.blockquote-series {
    margin: 60px;
    text-align: center;
    
}

.blockquote-series p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.blockquote-series b {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
}


.table-container {
    margin: 100px;
}
.table {
    background-color:#505050;
    color: aliceblue;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
     
}

.table th, td {
    padding: 10px;
}

.table th {
    background-color: #003B71;
    border-bottom: solid 5px #198af3;
    color: #fff;
    font-family:'Poppins', sans-serif; 
    font-size: 20px;
}


.table tr:nth-child(even) {
    background-color: #838383;
}

.table tr:hover td {
    background-color: #4b9be6;
    color: #fff;
    transition-delay: 0.1s;
}
.container-cover-ft {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 80px;
    background-image: url("https://k-gen.fr/wp-content/uploads/2021/03/crash-landing-on-you.jpg");
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
}

.container-info-cover-ft {
    max-width: 800px;
    margin: auto;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    z-index: 1;
}

.container-info-cover-ft::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #29024981;
    position: absolute;
    top: 0px;
    bottom: unset;
}

.container-info-cover-ft h1 {
    color: white;
    font-size: 100px;
    font-family:'Euphoria Script', cursive;
    bottom: 50px;
    position: relative;
    text-align: center;
    justify-content: center;
}

.blockquote-ficha-tecnica {
    margin: 60px;
    margin-bottom: 0px;
    text-align: center;
    
}

.blockquote-ficha-tecnica h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.blockquote-ficha-tecnica p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.container-table-ficha-tecnica {
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;

}
.table-ft {
    background-color:#505050;
    color: aliceblue;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
     
}

.table-ft th, td {
    padding: 10px;
}

.table-ft th {
    background-color: #003B71;
    border-bottom: solid 5px #198af3;
    color: #fff;
    font-family:'Poppins', sans-serif; 
    font-size: 20px;
}

.video-ficha-tecnica {
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 30px;
}

.content-galeria {
    margin: 50px;
    position: relative;
    justify-items: center;
    overflow: hidden;
    margin:10px;
    text-align:center;
}

.content-galeria img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

.content-galeria h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
    margin-bottom: 50px;
	background-color:#ccc;

}

form label{
	width:72px;
    font-family:'Poppins', sans-serif; 
	font-weight:bold;
	display:inline-block;
    align-items: left;

}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
    font-family:'Poppins', sans-serif; 
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
    font-family:'Poppins', sans-serif; 
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
    padding: 15px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
    font-family:'Poppins', sans-serif; 
}

.footer-galeria {
    margin-top: auto;
    width: 100%;
    padding: 20px;
    background-color:hsl(0, 0%, 79%);
    text-align: center;
}
